<div class="chart">
	<div id="svg"></div>
  	<ul id="legend">
    	<li><div class="swatch" style="background-color: #156F9E;"></div><span>Watchers</span></li>
    	<li><div class="swatch" style="background-color: #C47500;"></div><span>Forks</span></li>
    	<li><div class="swatch" style="background-color: #9E157C;"></div><span>Open Issues</span></li>
  	</ul>
</div>

<div class="libraries">
	<% @libraries.each do |library| %>
		<div class="library">
			<a name="<%= library.name %>" href="#"></a>
			<h3><%= link_to "#{library.author}/#{library.name}", library.github_url %></h3>
			<p><%= library.description %></p>
			<section>
				<%= link_to "Website", library.website_url %>
				<%= link_to "Documentation", library.doc_url %>
			</section>
			
			<section>
				<div class="set">
					<span class="label">Watchers</span>
					<div class="field">
						<span><%= library.watchers %></span>
						<span class="change <%= change_class(library.watchers_change) %>"><%= format_change(library.watchers_change) %>%</span>
					</div>
				</div>
				<div class="set">
					<span class="label">Forks</span>
					<div class="field">
						<span><%= library.forks %></span>
						<span class="change <%= change_class(library.forks_change) %>"><%= format_change(library.forks_change) %>%</span>
					</div>
				</div>
				<div class="set">
					<span class="label">Issues</span>
					<div class="field">
						<span><%= library.issues %></span>
						<span class="change <%= change_class(library.issues_change) %>"><%= format_change(library.issues_change) %>%</span>
					</div>
				</div>
				<div class="set">
					<span class="label">Last Push</span>
					<div class="field">
						<span><%= time_ago_in_words(library.pushed_at) %> ago</span>
					</div>
				</div>
			</section>
		</div>
	<% end %>
</div>

<script type="text/javascript">
var info = {max: [], values: [], labels: [], urls: []};
var data = [[],[],[]];

<% @libraries.each do |library| %>
	var vals = [<%= library.watchers %>, <%= library.forks %>, <%= library.issues %>];
	info.values.push(vals);
	info.labels.push("<%= library.name %>");
	info.urls.push("#<%= library.name %>");
	for (var b = 0; b < vals.length; b++) {
		info.max[b] = Math.max(info.max[b] || 0, vals[b]);
	}
<% end %>

for (var c = 0; c < info.values.length; c++) {
	var lib = info.values[c];
	for (var d = 0; d < lib.length; d++) {
		data[d].push(1 - lib[d] / info.max[d]);
	}
}

createChart();
</script>