<div class="libraries">
	<% @libraries.each do |library| %>
		<div class="library">
			<h3><%= library.author %>/<%= library.name %></h3>
			<p><%= library.description %></p>
			<section>
				<%= link_to "Website", library.website_url %>
				<%= link_to "Documentation", library.doc_url %>
			</section>
			
			<section>
				<div class="set">
					<span class="label">Watchers</span>
					<span class="field"><%= library.watchers %></span>
				</div>
				<div class="set">
					<span class="label">Forks</span>
					<span class="field"><%= library.forks %></span>
				</div>
				<div class="set">
					<span class="label">Issues</span>
					<span class="field"><%= library.issues %></span>
				</div>
			</section>
		</div>
	<% end %>
</div>